
* {
  box-sizing: border-box;
}

#canvas {
  background-color: #004E39;
  height: 720px;
  width: 1060px;
  border-radius: 2%;
  position: relative;
  margin: auto;
}

#title {
  text-align: center;
  font-size: 60px;
  width: 100%;
  position: absolute;
}

.card{
  height: 105px;
  width: 80px;
  padding: 5px;
}

.areas{
  height: 120px;
  width: 90px;
  border: 4px solid;
  border-radius: 5%;
  border-color: #EDE006;
}

#areaD{
  position:absolute;
  left: 300px;
  top: 150px;
}

#areaP{
  position: absolute;
  left: 300px;
  top: 475px;
}

#areaDeck{
  position: absolute;
  left: 200px;
  top: 312.5px;
}

#deck{
  position: absolute;
  top: 3.5px;
  left: 1px;
}

.score {
  height: 120px;
  text-align: center;
  font-size: 60px;

}

#scoreD{
  position: absolute;
  top: 175px;
  left: 600px;

}

#scoreP{
  position: absolute;
  top: 500px;
  left: 600px;
  
}

#results{
  text-align: center;
  font-size: 60px;
  color: red;
  margin: auto;
  position: absolute;
  top: 310px;
  left: 340px;
}

span{
  color: black;
  font-size: 40px;
}

#buttons {
  position: absolute;
  height: 80px;
  width: 100%;
  top: 607.5px;
}
.buttonSquare {
  height: 50px;
  width: 110px;
  position: absolute;
  top: 15px;
}
#hit {
  left: 565px;

}

#stand {
  left: 385px;
}

#start {
  left: 475px;
}

#restart {
  position: absolute;
  top: 0px;
  left: 490px;
  height: 80px;
}
